<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" 
			Name="PeriTASK" 
			Language="1046"
			Version="$(var.ProductVersion)"
			Manufacturer="PeriTASK" 
			UpgradeCode="{06D866DB-6E03-46C4-BEFC-3CC3A722D32B}">
		<Package InstallerVersion="500" 
				 Compressed="yes" 
				 InstallScope="perMachine" 
				 Platform="x64" />

		<MajorUpgrade
    AllowSameVersionUpgrades="yes"
    Schedule="afterInstallInitialize"
	
    DowngradeErrorMessage="Uma versao mais recente do [ProductName] ja esta instalada." />

		<MediaTemplate />

		<Feature Id="MainFeature" Title="PeriTASK" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="PeriTASK" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="AddContextMenuDll" 
					   Guid="{23A66312-1C4B-4EF9-A1E5-692A70A456D8}" 
					   Win64="yes">
				<File Id="AddContextMenuFile" 
					  Source="$(var.AddContextMenu.TargetPath)" 
					  KeyPath="yes" 
					  SelfRegCost="1" />
			</Component>
			<Component Id="UserInterfaceComponent"
					   Guid="{8E3C0E94-8C77-48D5-A437-BF2C5E65165C}"
					   Win64="yes">
				<File Id="UserInterfaceExe"
					  Source="$(var.UserInterface.TargetDir)UserInterface.exe"
					  KeyPath="yes" />
				<File Id="UserInterfaceDll"
					  Source="$(var.UserInterface.TargetDir)UserInterface.dll" />
				<File Id="UserInterfaceRuntimeConfig"
					  Source="$(var.UserInterface.TargetDir)UserInterface.runtimeconfig.json" />
				<File Id="UserInterfaceDeps"
					  Source="$(var.UserInterface.TargetDir)UserInterface.deps.json" />
			</Component>
			<Component Id="PythonScriptComponent" 
					   Guid="{42475909-60D5-418D-B722-BBBCC09AA8CC}"
					   Win64="yes">
				<File
				  Id="PythonScriptExe"
				  Source="$(var.ProjectDir)..\Instalador\dist\PythonScript.exe"
				  KeyPath="yes" />
			</Component>
			<Component Id="InstallPathComponent" 
					   Guid="{9CD2C3E3-A8FF-47E1-8C28-8ED5CA55F15E}"
					   Win64="yes">
				<RegistryValue
				  Root="HKLM"
				  Key="Software\PeriTASK"
				  Name="InstallPath"
				  Type="string"
				  Value="[INSTALLFOLDER]"
				  KeyPath="yes" />
			</Component>

		</ComponentGroup>
	</Fragment>
</Wix>
